/*CSS for header*/
h1{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: rgba(138, 137, 137, 0.76);
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: medium;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.img-fluid {
      height: 100%;
      width: 150%;
  }

.col-md-3 > a{
    font-size: small;
    font-weight:normal;
    text-decoration:none;
    font-family: 'Times New Roman', Times, serif;
    line-height-step: 2;
}